html {
	font-family: monospace;
	color: #FF0064;
	background: #000016;
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
}
a.highlight {
	color: #000016;
	background: #FF0064;
}
.post-list {
	margin: auto;
	width: 100%;
	max-width: 768px;
	min-width: 384px;
	padding: 0px;
}

.post {
	padding: 0px;
	margin: 0px;
	list-style: none;
	width: inherit;
}
.post-date,
.post-title 
{
	font-size: 14px;
	display: inline-block;
}
.post-date {
	height: auto;
	width: 128px;
	text-align: center;
}
.post-content {
	width: auto;
	max-width: 512px;
	min-width: 256px;
	margin: 0px 128px;
	padding: 0px 0px 16px 0px;
}
footer p {
	text-align: center;
}
a {
	color: #FF0064;
}
.logo {
	width: 164px;
	margin: auto;
}
.post-title {	
	color: #FF0064;
	text-decoration: none;
	border-bottom: 1px solid #FF0064;
}
.post-list .post:first-child .post-date
.post-list .post:first-child .post-title, 
.post-list .post:first-child .post-title a 
{
	border: none;
	padding: 8px 0px;
	text-decoration: none;
}
.post-title, .post-date {
	margin: 0px;
	padding: 4px 0px 0px 0px;
}
@media (max-width: 512px) {
	.post-list {
		min-width: 128px;
	}
	.post-content {
		margin: 0px 16px;
	}
	.post-list .post:first-child .post-title {
		display: block;
		text-align: center;
	}
}
@media (max-width: 384px) {
	.post-content {
		margin: 0px 4px;
	}
	.post-title {
		margin: 0px 4px;
	}
	.post-date {
		width: 100%;
		margin: 0px 4px;
		text-align: left;
	}
}
.nf, .n {
	font-weight: bold;
}
