<header class="site-header">

    <nav>
	 <a class="highlight enabled" href="#reader">Enable Reader Mode</a>
	 <a class="highlight disabled" href="#">Disable Reader Mode</a>
  	 <a class="rss-feed" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
	 <a href="https://manila.me">About</a>
    </nav>

    <pre class="logo">
 ___   _
\ ___\|\_\__    __ _ 
|| __ )| |\__\ /\__\\
||  _ \| |/ _ \\/ _` |
|| |_) | | (_) | (_| |
\|____/|_|\___/\\__, |
               \|___/

            by Manila
    </pre>

</header>
